$white: #fff;
$brand-danger: #e51d2e;
$brand-primary: #0050a0;
$font-size-root: 14px;
$font-family-sans-serif: 'Tofino', 'Helvetica Neue', 'Helvetica', sans-serif;
$gray-base:    #000 !default;
$gray-darker:  lighten($gray-base, 5%);
$gray-dark:    #404040;
$gray:         #808080;
$gray-light:   #b2b2b2;
$gray-lighter: #e5e5e5;
$gray-lightest: #fafafa;
$text-muted: $gray;

@import '~bootstrap/scss/bootstrap';
@import 'scss/card';
@import 'scss/imagery';
@import 'scss/layout';
@import 'scss/typography';

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}