.card {
  background: $white;
}

.project-card {
  border: 1px solid $gray-lighter;
  border-radius: 3px;
  box-shadow: 0 2px 0 0 $gray-lighter;
  margin: 0 0 15px;

  &:last-of-type {
    border-bottom: 0;
  }
}

.project-name {
  margin: 0 0 8px;
}

.project-card-title {
  transition: color .2s ease-out;

  &:hover {
    text-decoration: none;
  }
}

.project-card-link {
  display: block;
  font-size: $font-size-h4;
  margin: 10px 0;
  word-wrap: break-word;

  @media(min-width: $screen-sm-min) {
    display: inline-block;
    margin: 0 0 0 10px;
  }
}

.project-card-image {
  background-image: url('http://placekitten.com/350/200/');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

.project-card-body {
  padding: 25px;
}


.project-card-footer-list {
  display: inline-block;
  margin: 0;
  width: auto;
}

.project-card-footer-list li {
  color: $gray;
  padding: 10px 15px;
  transition: color .2s ease-out;
  vertical-align: bottom;

  &:hover {
    color: $gray-dark;
  }
}

.project-card-footer-list.right li {
  border-left: 1px solid $gray-lighter;
}

.project-card-footer-list.left li {
  border-right: 1px solid $gray-lighter;
}

.project-card-footer-list li a {
  color: inherit;
}

.project-tech-stack:before {
  color: $gray;
  content: '\f121';
  display: inline-block;
  font-family: 'FontAwesome';
}

.project-tech-stack li {
  font-size: $font-size-h5;
  text-transform: uppercase;
}